<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<div th:fragment="welcome">
    <h2>Welcome to Beauty Salon</h2>
    <p>Полная система управления для вашего салона красоты</p>

    <div th:if="${#authentication.principal == 'anonymousUser'}">
        <a th:href="@{/login}" class="btn btn-primary">Login</a>
    </div>

    <div th:unless="${#authentication.principal == 'anonymousUser'}">
        <p>Olá, <span th:text="${#authentication.principal.username}"></span>!</p>
    </div>
</div>